*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #00c6ff, #0072ff);
    font-family: 'Helvetica', sans-serif;
}

h1{
    text-align: center;
    color: white;
    margin: 1rem auto;
    text-shadow: #02479c 0px 1px 7px;
    border-bottom: 1px solid white;
    padding: 1.5rem;
}

.calculadora{
    position: relative;
    width: 100vh;
    height: 80vh;
    margin: 0 auto;
}

#calculadora-form{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    background-color: rgb(181, 172, 235);
    border: none;
    border-radius: 12px;
}

#calculadora-form label{
    font-family: inherit;
    font-size: 1.2rem;
    color: rgb(20, 11, 82);
    padding: 0.3rem;
    margin-top: 0.5rem;
}

#calculadora-form input{
    border: 1px solid transparent;
    border-radius: inherit;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: rgb(20, 11, 82);
}
#calculadora-form input:hover{
    border: 1px solid #004080;
    background-color: #f0f0f0;
}
#calculadora-form input:focus{
    border: 1px solid #0072ff;
    background-color: #e0f7ff;
    outline: none;
}
#calculadora-form input[type="number"], input[type="text"]{
    font-size: 24px;
    font-family: inherit;
}

#calculadora-form select{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 20px 20px 0 0;
    font-size: 1.2rem;
    font-family: inherit;
}
#calculadora-form select:focus{
    outline: none;
    border: #004080;
}
#calculadora-form section{
    display: flex;
    justify-content: center;
}
#calculadora-form section .submissao1:disabled{
    background-color: #5a5959;
    cursor: not-allowed;
}
#calculadora-form section .submissao1{
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    width: 77%;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: #0072ff;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#calculadora-form section .submissao1:hover{
    background-color: #650aa1;
}
#calculadora-form section .estilo{
    display: inline-block;
    padding: 0.5rem;
    margin-top: 2rem;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: #011b3a;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    width: 20%;
}
#calculadora-form section .estilo img{
    width: 24px;
    height: auto;
}
#calculadora-form section .estilo:hover{
    background-color: #005bb5;
    border: 1px solid #004080;
    transition: scaleY(1.05);
}
/* --------CALCULADORA DIGITAL------------ */
#calculadora-digital{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color:rgb(181, 172, 235);
}
#calculadora-digital #display{
    width: 70%;
    padding: 20px;
    color: #011b3a;
    font-size: 32px;
    text-align: left;
    border-radius: 7px;
    overflow: hidden;
    outline: none;
}
#calculadora-digital #chaves{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    height: 70%;
}
#chaves button{
    font-size: 32px;
    border: 1px solid #889ea5;
    border-radius: 7px;
}
#chaves button:hover{
    background-color: #b0ccd4;
}
#chaves button:active{
    background-color: #c9e9f1
}
#calculadora-digital .estilo{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #004080;
}
#calculadora-digital .estilo:hover{
    background-color: #0360bd;
}